<!DOCTYPE html>
<html>
    <head>
        <%- include('./parts/header.ejs') %>
    </head>
    <body>
        <%- include('./parts/sidebar.ejs') %>
        <footer><%- include('./parts/footer.ejs') %></footer>
    </body>
</html>